<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Choose a character</h3>
  </div>
  <div class="panel-body">
    <div>
      <label>Name</label>
      <input #newName>
    </div>
    <div>
      <label>Characteristics</label>
      <input #newCharacteristics>
    </div>
    <button (click)="submitForm(newName.value, newCharacteristics.value)">Create</button>
  </div>
  <div *ngFor="let character of characters | async" routerLink="sorting-hat">
    <p>{{character.name}} is {{character.characteristics}}</p>
  </div>
</div>