body {
    background-image: url("./assets/hp-background.jpg");
    color: white;
}
.main-panel {
    background-color: rgba(3, 3, 3, 0.534);
    text-align: center;
}

h1 {
    color: white;
}
a {
    color: white;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: limegreen;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive, serif;
}